.login-body {
    margin: 0 auto -236px;
    max-width: 450px;
    min-height: 100vh;  
}

.login-form {
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 515px;
    padding: 60px 68px 40px;
    width: 100%;
    margin-top: 40px
}

.form-title {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

.form-input {
    border: 0;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    padding: 2px 14px 0;
    margin-bottom: 13px
}

.form-button {
    background-color: black;
    border-radius: 4px;
    padding: 16px;
    color: rgb(255, 102, 0);
    margin: 24px 0 12px;
    font-size: 16px;
    font-weight: 700;
}